<odoo>
    <menuitem id="menu_sav_magasin_sav" name="Comptoir SAV" parent="sav_magasin_product.menu_sav_magasin_root" sequence="10"/>
    <menuitem id="menu_sav_magasin_sav_new" name="Nouveau dossier" parent="menu_sav_magasin_sav" action="action_sav_magasin_sav_create_wizard" sequence="5"/>
    <menuitem id="menu_sav_magasin_sav_orders" name="Dossiers SAV" parent="menu_sav_magasin_sav" action="action_sav_magasin_sav_order" sequence="10"/>
</odoo>
